body{
  margin: 2%;
  background-color: yellow;
  border-color: #bbbb00;
  border-style: dotted;
}

h1{
  margin: 2%;
  font-family: fantasy;
}

.monkeybio{
  margin: 2%;
  padding: 2%;
  background-color: #ffff99;
  border-color: #ffff55;
  border-style: ridge;
  border-width: 10px;
  width: 75%;
}

img.monkey{
  margin: 10%;
  height: 300px;
  width: 75%;
}

img.bear{
  margin: 3%;
  height: 400px;
  width: auto;
}

#href{
  font-size: 1%;
}
